<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>TAMATAR Ctrl</title>
	<link type="text/css" href="/media/css/main.css" rel="stylesheet" media="screen" />
	<script type="text/javascript" src="/media/js/prototype.js"> </script>
	<script type="text/javascript" src="/media/js/tamatarctrl.js"> </script>
</head>
<body class="bg-keiser">
<div id="content">
<h1 class="rechts"><a href="http://tamatar-ctrl/"><img src="/media/images/m221e-logo2-o.gif" alt="" border="0" /></a></h1>	
<h1>Tamatar Control  </h1>
<h4>Robots need love too
</h4>
<table id="status" border="0">
	<thead>
	<tr>
		<th>id</th>
		<th>ip</th>
		<th>status</th>
		<th>power</th>
		<th>uptime</th>
		<th>last ping</th>
		
	</tr>
	</thead>
	<tbody>
	</tbody>
</table>

</div>
</body>
</html>
