<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>TAMATAR Ctrl</title>
	<link type="text/css" href="/media/css/main.css" rel="stylesheet" media="screen" />
	<script type="text/javascript" src="/media/js/prototype.js"> </script>
	<script type="text/javascript" src="/media/js/tamatarctrl.js"> </script>
</head>
<body class="bg-keiser">
<div id="content">
<h1 class="rechts"><a href="http://tamatar-ctrl/"><img src="/media/images/m221e-logo2-o.gif" alt="" border="0" /></a></h1>	
<h1>Tamatar Manual  </h1>
<h2>FAQ</h2>
<p>
<strong>How many Tamatar need to run together</strong><br/>
On a regular day it is best to run 3-5 Tamatar while the others are charging.
<br/>
<br/>
<strong>How long runs a Tamatar without recharging</strong><br/>
The battery should last 2-4 hours.

<br/>
<br/>
<strong>The Tamatar is unplugged (on) but not running</strong><br/>
Is it visible on <a href="http://tamatar-ctrl/">Tamatar-Ctrl</a>? When was the last update?<br/>


<p>
<h2>Switching On and Off</h2>

<p>
	<img src="/media/images/manual/tamatar-manual-handling-01.jpg" border="0"/><br/>
	<img src="/media/images/manual/tamatar-manual-handling-02.jpg" border="0"/><br/>
	The Tamatar are switched on whenever there is no plug inserted. As soon as the Tamatar
	detect either the switch-off-, or charging plug, they will automatically go to sleep.
</p>
<p> 
	<strong>Make sure that all Tamatar have the switch-off plug inserted during the days when Kunsthalle is closed and overnight!</strong>
</p>

<p>&#160;</p>
<h2>Charging</h2>

<p>
First, connect the Tamatar to the charging station through the orange wires.
You only need the stop-button (left) and the start-button (right) on the charging device.
</p>
<p>
<img src="/media/images/manual/tamatar-manual-charging-01.jpg" border="0"><br/>
1) Charger must be set to the program on the picture. Use the stop-button to switch to the correct program. 
</p>
<p>
<img src="/media/images/manual/tamatar-manual-charging-02.jpg" border="0"><br/>
2) Press the start-button until 'BATTERY CHECK' appears on the screen. This may take 5 seconds.
</p>
<p>
<img src="/media/images/manual/tamatar-manual-charging-03.jpg" border="0">
3) If the battery check is done, the charger asks for confirmation again. Press the start-button to begin 

</p>
<p>


<img src="/media/images/manual/tamatar-manual-charging-04.jpg" border="0"><br/>
4) If all went well, the charger starts and displays status information about the progress.

</p>
<p>&#160;</p>
<h3><strong>WARNING</strong></h3>
<p>
<img src="/media/images/manual/tamatar-manual-charging-05.jpg" border="0">
<strong>
If the charger displays a 'LOW VOLTAGE' message, the battery is discharged beyond the 
allowed level. You need to open the Tamatar and replace the battery! Replacement batteries can
be found in the etoy storage container in the grey box. Ask the available etoy.AGENTS for help,
or contact silvan@etoy.com.
</strong>
</p>
<p>&#160;</p>
<h2>Maintainance 2nd battery</h2>
<p>
Every second or third week, the Tamatar need to recharge their second batteries. These
are mounted on the chassis, therefore the styrofoam sphere needs to be opened. It should
be sufficient to open the opposite side of the charger plug (the side with only one hole
at the center). After removing one half of the styrofoam sphere, you should see the
battery pack underneath the chassis protected with tape.  

</p>
<p>
	<img src="/media/images/manual/tamatar-manual-2ndbattery-01.jpg" border="0"/><br/>
	1) The second battery pack underneath the chassis.
</p>
<p>
	<img src="/media/images/manual/tamatar-manual-2ndbattery-02.jpg" border="0"/><br/>
	2) Remove the tape.
</p>
<p>
	<img src="/media/images/manual/tamatar-manual-2ndbattery-03.jpg" border="0"/><br/>
	3) Take out the three batteries from the holder
</p>
<p>
	<img src="/media/images/manual/tamatar-manual-2ndbattery-04.jpg" border="0"/><br/>
	4) Charge the batteries with the the dedicated NiMh-charger
</p>
<p>
	Charging these batteries takes rather long (~12 hours). Carrying out this maintainance is probably most suitable during the night or on mondays.
</p>
</div>
</body>
</html>
